/* STYLE UNTUK CV */
/* atas */
.test {
    display: flex;
    gap: 15px;
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: -5px;
}
img {
    padding-top: 10px;
    width: 108px;
}
.test1 {
    margin-bottom: -10px;
}
.test2 {
    margin-bottom: -10px;
}
.garis {
    margin-bottom:-8px ;
}
main {
    padding-left: 15px;
    padding-right: 15px;
}

        /* Bawah */
.ama1 {
    margin-bottom: -8px;

}
.ama2 {
    margin-bottom: 8px;
}

/* STYLE UNTUK TABLE */
table {
    width: 100%;
}
table tr td {
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 10px;
}
th {
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    background-color: bisque;
    padding: 10px;
}

